<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Percentage complete today: {{dash.percentageComplete}}%
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
          <div class="row">
            <div class="col col-33">
              <i class="icon ion-waterdrop"></i> <br>
              <a ng-click="dash.registerIntake('gulp')">Gulp</a>
            </div>
            <div class="col col-33">
              <i class="icon ion-coffee"></i> <br>
              <a ng-click="dash.registerIntake('cup')">Cup</a>
            </div>
            <div class="col col-33">
              <i class="icon ion-trophy"></i> <br>
              <a ng-click="dash.registerIntake('glass')">Glass</a>
            </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
